<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="TwilioQuest starter code">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the JavaScript Guild!</title>

    <!-- A little CSS to make our page prettier -->
    <link href="//fonts.googleapis.com/css?family=Press+Start+2P" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- Include jQuery to help us with some UI stuff -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
</head>
<body>
    <!-- A simple UI to test our Twilio back end -->
    <div id="content">

        <div id="flash" style="display:none;">
            <p><span id="flash-message"></span> <a href="#">Close</a></p>
        </div>

        <div id="welcome">
            <img src="/images/javascript_shield256.png" alt="JavaScript Shield"/>
            <h1><span>JavaScript</span> Guild</h1>
            <p>
                Welcome to the JavaScript Guild! Join your fellow JavaScripters
                and JavaScriptresses as they asynchronously dominate this
                Twilio quest.
            </p>
            <p>
                <a href="http://quest.twilio.com">Gather your party and
                venture forth</a>
            </p>
        </div>

        <h3>Hello World</h3>
        <p>
            Below, we have two simple demos that will confirm your environment
            has been properly configured.  Please refer to the 
            <a href="https://github.com/twilio/starter-node">README.md in your 
            starter app repository</a> to see how to configure this application.
        </p>
        <br/>
        <ul id="tabs">
            <li id="messaging" class="current">Messaging</li>
            <li id="call">Voice Call</li>
        </ul>
        <form>
            <p>Enter your mobile phone number:</p>
            <input id="to" type="text" 
                placeholder="ex: +16518675309"/>
            <button>Send me a message</button>
        </form>
    </div>
    <div id="footer">
        <span>Twilio</span><img src="/images/TwilioQuest32.png" alt="TwilioQuest"/>Quest
        <p>
            Made with <img src="/images/heart.gif" alt="heart"> by your pals 
            <a href="http://www.twilio.com">@twilio</a>.
        </p>
    </div>

    <!-- Some dirty JavaScript to help drive our UI -->
    <script src="/javascripts/ui.js"></script>
    <!-- Some ajax magic to hit our back end and make calls/send messages -->
    <script src="/javascripts/form.js"></script>
</body>
</html>
